/*********** Mobile Screens ***************/

head {
    display: none;
  }
  
  body {
    background-color: rgb(243, 246, 248);
  }

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: right;
}

  /** Logo Styling **/

  #logo {
    scale: 175%;
    border-radius: 10%;
    margin: 40px 10px 10px 55px;
    width: 100px;
  }

  /** End Logo Styling **/



  /** Hamburger Styling **/

  .hamburger {
   background-color: transparent;
   border: none;
   cursor: pointer;
    height: 110px;
    margin-top: 1rem; 
  }

  .line { 
    background: rgb(70, 32, 223);
    height:9px;
    width: 110px;
    margin-bottom: 20px;
    transition: all 1s;
  }

  .hamburger.open .line1 {
    transform: rotate(45deg);
    margin-top: 57px;
    transition: 0.4s; 
  }

  .hamburger.open .line2 {
    opacity: 0; 
  }

  .hamburger.open .line3 {
    transform: rotate(-45deg);
    margin-top: -57px;
    transition: 0.4s;  
  } 

  /** End Hamburger Styling **/

  /** Page Title Styling **/
.title {
    color:black;
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 20px 0 0px 0;
}

/** End of Page Title Styling **/

/** Navigation Styling **/

.nav {
  display: none; 
}

nav.navbar {
  display: flex;  
  color:rgb(70, 32, 223);
}

nav > ul > li:hover {
  background-color: rgb(70, 32, 223);
  transition: .4s;
}

nav a:hover {
  color: rgb(243, 246, 248);
}

nav a:link {
  text-decoration: none;
  font-weight: bold;
}

nav > ul {
  display: inline;
  padding: 0;
}

nav > ul > li {
  display: flex;
  list-style-type: none;
  margin: 4px 5px 0px 5px;
  background-color: #90d9f5; 
  border-radius: 10px;
  width: 5.5rem;
  padding: 1em;
  box-shadow: 3px 3px 3px rgb(70, 32, 223);
  text-align: center;
  align-items: center;
} 

/** End Navigation Styling **/

/**Headsot styling **/

#headshot {
  display: flex;
  margin: 0 auto 2rem auto; 
  height: auto;
  border-radius: 50%;
  border: 5px solid rgb(70, 32, 223);
  scale: 100%;
}

/** End of Headshot styling **/

/** Accordion Styling **/

.accordion {
  background-color: #90d9f5;
  color: rgb(70, 32, 223);
  cursor: pointer;
  padding: .1rem;
  margin: .25rem;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
  font-weight: bold;
  box-shadow: 3px 3px 3px rgb(70, 32, 223);
}

.active, .accordion:hover {
  background-color: rgb(70, 32, 223);
  color: white;
}

.panel {
  padding: 0px 18px;
  background-color: rgb(243, 246, 248);
  display: none;
  overflow: hidden;
}

/** End of Accordion Styling **/


/** Contact me section Styling **/

.bottomContainer {
display: flex;
justify-content: space-evenly;
color: rgb(243, 246, 248);
background-color: transparent;
text-align: center;
}

/** End of Contact me section styling **/

/** Button Styling **/

.btn {
text-decoration: none;
border-radius: 10x;
color:  rgb(70, 32, 223);
background-color:#90d9f5;
width: 100px;
text-align: center;
border-radius: 10px;
height: 30px;
padding: .5em 0 0 0;
box-shadow: 3px 3px 3px rgb(70, 32, 223);
font-weight: bold;
margin: .25rem;
}

.btn:hover {
background-color: rgb(70, 32, 223);
color: rgb(243, 246, 248);
} 

body {
margin: 0;
font-family: Arial, Helvetica, sans-serif;
}

/**End of Button Styling **/

/** h2 Section styling **/

h2 {
text-align: center;
justify-content: space-between;
}

#skillsList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.projectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  padding: 10px;
}

#portfolioProject {
  display: flex; 
  align-self: center;
  border-radius: 10%;
  border: 10px solid rgb(70, 32, 223);
  height: 20%;
  padding: 5px;
  width: 20%; 
  margin-top: 25px;
}

#portfolioGitHub {
  width: 150px;
}

#portfolioGitHub:hover {
  background-color: rgb(70, 32, 223);
  color: rgb(243, 246, 248);
}

p {
text-align: center;
}

/** End of h2 section styling **/

  /** Go To Top Button Styling **/

  #topButton {
    background-color: #90d9f5;
    color:  rgb(70, 32, 223);
    display: flex;
    margin: 2em 0 2em 2em;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    width: 50px;
    border-radius: 75%;
    height: 30px;
    padding: .9em 0 0 0;
    font-weight: bold;
  }
  
  #topButton:hover {
    background-color: rgb(70, 32, 223);
    color: rgb(243, 246, 248);
    transition: .4s;
  } 
  
    /** End Go To Top Button Styling **/
  

/************* End Mobile Screen ****************/







/************ Tablet Screen *********************/

@media screen and (min-width: 768px){

  /** Change skills list from column to row **/

  #skillsList {
    flex-direction: row;
  }
 

  /** Changes Project from column to row **/

  .projectContainer {
   flex-direction: row;
  }
}

/************ End Tablet Screen ****************/



/*********** Desktop Screen ********************/

@media screen and (min-width: 1024px){
 
  /** Change navigation bar at top to row and remove hamburger **/
  header .nav {
    flex-direction: row;
    float: top;
  }

  .hamburger{
    display: none;
  }
 
  .nav  {
    display: flex-box;
    flex-direction: row !important;
    float: top;
  }

  .nav {
    display: block;
    flex-direction: row !important;
    float: top;
  }

  nav > ul {
    display: flex;
    padding: 0;
  }

  nav > ul > li{
    font-size: 1.5em;
    width: 6.0rem;
  }

/** Enlarge the logo **/

  #logo {
    scale: 240%;
    margin: 60px 10px 10px 75px;
  }

/** Change scaling of the headshot **/

#headshot {
  margin-bottom: 2rem;
  scale: 100%;
}

/** Enlarge fonts of sections **/

.title {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

#skillsList {
  width: 61.25rem;
  margin: auto;
  font-size: 1.5rem;
  padding: 1.25rem;
}

#portfolioProject {
  width: 217.87px;
  height: 164.09px;
}

#portfolioGitHub {
  width: 150px;
  height: 75px;
}

#topButton {
  width: 75px;
  border-radius: 75%;
  height: 45px;
}

.btn{
  width: 144px;
  height: 40px;
  font-size: 1.5em;
}


/************ End Desktop Screen **************/
